.container{
    margin: auto;
    justify-content: center;
    width: 70%;
}

.view{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.button{
    background-color: white;
    border-radius: 4px;
    box-shadow: none;
    outline:none;
    border: none;
}

.button:focus{
    outline:none;
 
}
.buttonChart{
    border-bottom: 5px solid rosybrown;
}

.buttonMap{
    border-bottom: 5px solid bisque;
}

.chart{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 13px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    position: relative;
}


@media only screen and (min-width: 1024px) {
    .chart {
        height: 500px;
        width: 80%;
    }
}

@media only screen and (min-width: 768px ) and (max-width: 1023px ) {
    .chart {
        height: 350px;
        width: 90%;
    }
}

@media only screen and (max-width: 767px) {
    .chart {
        height: 350px;
        width: 100%;
    }
}

